
@import url('https://fonts.googleapis.com/css2?family=Georgia:wght@400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Georgia', serif;
  background-color: #f4f4f4cf;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: url('/static/images/Star.jpg') no-repeat center center fixed; /* Adjust the path to your image */
  background-size: cover; /* Ensures the image covers the entire page */
  background-color: #f4f4f4; /* Fallback color while the image loads */
}

.login-container {
  background-color: #ffffffdf;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #444;
}

.error {
  color: red;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 15px;
}

input[type="submit"] {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #4cae4c;
}
